; Team deploy configuration file
; Team name should match the json file name.if teams/demo.json, set name = demo. Names are case-sensitive
; to deploy changes to  single team, set name = demo
; to deploy changes to  multiple teams, set name = demo,hr
; to deploy changes to all teams, set name = all

[team]
name = demo


